@charset "utf-8";
/* css reset */

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

*{box-sizing: border-box;}

body {
  font-family: "Helvetica Neue",
  Arial,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  Meiryo,
  sans-serif;
  color: #444444;
  font-size: 1em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
    color: #1A0DAB;
}

a:hover {
    opacity: 0.8;
}

h1, h2, h3, h4, h5 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sp-only {
    display: none;
}

.cta-btn-box{
    display: none;
}

table {
    border-collapse: collapse;
}

.main-color-00{    color: #261a1b;}
.main-color-01{    color: #928484;}
.main-color-02{    color: #EE817B;}
.sub-color01{ color: #947E33;}

/* site comp bg */
.top-page{
}


/*.wrap-all.top-page{
  background-image: url(../images/lough_top.jpg);
  background-size: 1440px auto;
  background-repeat: no-repeat;
}*/



/* content css */

/*.facebook-area{
  display: inline-block;
  background-color: #3b5998;
  border-radius: 20px;
  width: 20px;
  color: #fff;
  text-align: center;
}*/

.container {
    width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
}

.small-container{
    width: 50%;
    margin: 0 auto;
}

.fa {
  margin-right: 5px;
}

.sp-only{
  display: none;
}

.gray-bg{
  background-color: #f7f7f7;
}

.main-contents{
  padding-bottom:80px;
}

header{
  background-color: rgba(255,255,255,0.9)
}

header h1{
  font-weight: normal;
  font-size: 12px;
}

header .logo img {
  width: 40px;
}

.header-description-area {
  overflow: hidden;
  padding-bottom: 10px;
}

.header-description-area h1{
  float: left;
}

.header-description-area ul{
  font-size: 11px;
  padding-top: 10px;
  float: right;
}

.header-description-area ul li{
  float: left;
  padding-right: 10px;
}

.header-main {
  overflow: hidden;
}

.header-main .header-left{
  float: left;
    min-width: 50%;
  position: relative;
}

.header-main .logo{
  font-size: 24px;
}

.header-main .header-right{
  float: right;
}

.header-main .contact-box{
    text-align: center;
}

.header-main .contact-box a{
    display: block;
    background-color: #222;
    color: #fff;
    padding:10px 40px;
    border-bottom: 1px solid #222;
    transition: all .5s;
}

/*.header-main .contact-box a:hover{
  background-color: #eee;
  border-bottom: 1px solid #a08b5c;
  color: #a08b5c;
}*/

.header-main .phone-number{
  font-size: 24px;
  letter-spacing: 1px;
}

.header-main .phone-comment{
  font-size: 12px;
  text-align: right;
}

header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

header .logo a{
  color: #000;
  font-weight: bold;
}

header .gnav {
  display: flex;
}

header .gnav li{
  flex: auto;
}

header .gnav li a{
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.header-left .logo-word {
  position: absolute;
  top: 5px;
  padding-left: 10px;
}

.bread-crumb{
  overflow: hidden;
  padding: 15px 0;
}

.bread-crumb ul li {
  float: left;
  margin-right: 15px;
  position: relative;
  font-size: 12px;
}

.bread-crumb ul li a{
  display: block;
  padding-right: 40px;
  color: #666;
}

.bread-crumb ul li a::after{
    position: absolute;
    content: "";
    right: 12px;
    top: 6px;
    width: 4px;
    height: 4px;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

 .page-title-area::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.page-title-area{
  text-align: center;
  color: #fff;
  position: relative;
  padding: 250px 0 150px 0;
  height: 300px;
  z-index: 1;
  background-color: #f7f7f7;
  border-bottom: 1px solid #eee;
}

.page-title-area h2{
  margin-top: 0;
  color: #222;
  font-size: 32px;
  position: relative;
  z-index:2;
  opacity: 0.9;
}

.main-image-wrapper {
  text-align: center;
  position: relative;
  padding: 230px 0 80px 0;
  background-color: #000;
}

.main-image-wrapper p{
  font-size: 20px;
  letter-spacing: 10px;
  font-weight: bold;
  margin-top: 35px;
}

.top-title-area {
  position: relative;
  z-index: 1;
  color: #fff;
  opacity: 1;
  padding-bottom: 80px;
}

.top-title-area img{
  width: 40%;
}

.top-title-area h2{
  font-size: 36px;
  margin-top: 30px;
}

.fnav-wrapper{
  padding: 25px 0 10px 0;
  background: #000;
  color: #fff;
}

footer{

}

.fnav-wrapper ul {
  width: 75%;
}

.fnav-wrapper ul {
  display: flex;
  flex-wrap: wrap;
}

.fnav-wrapper ul li{
  width: 25%;
  float:left;
  position: relative;
  margin-bottom: 15px;
  line-height: 1em;
}

.fnav-wrapper ul li a{
  display: inline-block;
  color: #fff;
  font-size: 12px;
  padding-left: 15px;
  margin-right: 20px;
}

.fnav-wrapper ul li a::before{
    position: absolute;
    content: "";
    left: -2px;
    top: 6px;
    width: 4px;
    height: 4px;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.footer-main{
  padding: 30px 0;
  background-color: #f7f7f7;
    position: relative;
}

.footer-main .company-name{

}

/*-- contents css --*/

.section {
  padding: 120px 0 80px 0;
}

.section-description {
  text-align: center;
  line-height: 2.0;
  font-size: 17px;
  letter-spacing: 5px;
  padding-bottom: 50px;
}

.top-section-title {
  text-align: center;
}

.top-section-title h3 {
  font-size: 24px;
  margin-bottom: 50px;
  position: relative;
  padding-bottom: 15px;
  letter-spacing: 5px;
}

.top-section-title h3:before {
  content: "";
 position: absolute;
 left: 0;
 right: 0;
 bottom: 0;
 border-bottom: 5px solid #947E33;
 width : 50px ;
 margin: 0 auto;
 opacity: 0.6;
}

.concept-section {
  padding: 100px 0;
}

.company-detail{
  font-size: 13px;
}

.company-title{
  font-size: 18px;
  padding-bottom: 15px;
}

.footer-right{
  font-size: 10px;
  color: #666;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.express-section{
}

.menu-section{
  border-top: 1px solid #eee;
  background-color: #f9f9f9;
}

.menu-wrapper {
  display: flex;
  padding-left: 1%;
}

.menu-item{
  margin: 0 10px;
  padding: 30px 20px;
  flex: auto;
  width: 33%;
  background-color: #fff;
  box-shadow: 0 0 10px #eee;
}

.menu-item .txt-content{
  font-size: 14px;
  line-height: 1.6;
}

.menu-item .read-more-btn{
  text-align: center;
  margin-top: 15px;
}
.menu-item .read-more-btn a{
  color: #fff;
  background-color: #000;
  display: inline-block;
  width: 70%;
  transition: all .5s;
  padding: 10px;
}

.menu-item .read-more-btn a:hover{
  background-color: #777;
}



.menu-wrapper .menu-item img {
  width: 70%;
}

.menu-wrapper .menu-item .menu-icon {
  text-align: center;
  padding: 15px 0;
}

.menu-wrapper .menu-item .menu-icon p {
  margin: 10px 0;
  font-weight: bold;
}

.menu-wrapper .menu-item .en-title {
  display: block;
  color: #a08b5c;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 14px;
}

.news-wrapper {
  background-color: #f2f2f2;
  padding: 20px;
}

.news-wrapper .content-title{
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #999;
}


.main-contents .section-title h3 {
  font-size: 20px;
  color: #666;
  padding: 10px;
  border-left: 3px solid #999;
  margin: 50px 0;
}

.main-contents h4 {
  font-size: 20px;
  color: #666;
  padding: 15px 10px;
  font-weight: normal;
  position: relative;
}

.main-contents h4:before {
content: "";
position: absolute;
left: 5px;
bottom: 5px;
border-bottom: 2px solid #666;
width : 30px ;
margin: 0 auto;
opacity: 1;
}

.main-contents .content-text {
  padding: 20px 10px;

}

.section {
  margin-bottom: 50px;
}

.links-wrapper .links {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.links-wrapper .links li {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.links-wrapper .links li a {
  display: block;
  background-color: #f0f0f0;
  border: 1px solid #eee;
  font-size: 18px;
  padding: 15px 0;
  transition: all .5s;
  color: #000;
}

.news-wrapper .news-day{
  margin-right: 10px;
}

header .menu-icon {
  display: none;
}

.content-wrapper {
  overflow: hidden;
}

.content-wrapper h4{
  margin-bottom: 30px ;
}

.content-left  {
  float: left;
  width: 50%;
  text-align: right;
  padding-right: 20px;
}

.content-right  {
  float: right;
  width: 50%;
  font-size: 14px;
  line-height: 2.2;
  padding-left: 20px;
}

.content-right  p{
  padding-bottom: 15px;
}

.content-right-title {
  font-size: 24px;
  font-weight:bold;
  display: block;
  line-height: 1.8;
  padding-bottom: 10px;
}

.content-left img {
  max-width: 80%;
}

.Form {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}

.ggmap iframe,
.ggmap object,
.ggmap embed {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all  0.7s ease;
}

.ggmap iframe:hover,
.ggmap object:hover,
.ggmap embed:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
}
.Form dl {
  border-top: 1px solid #ddd;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.Form dl:nth-child(5) {
  border-bottom: 1px solid #ddd;
}
.Form dl dt {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}

.Form dl dt.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}

.Form .form-valid {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #999;
  color: #fff;
  font-size: 14px;
}

.form-input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}
.Form textarea{
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}
.submit-btn-wrapper{
  text-align: center;
  width: 100%;
}

.submit-btn {
  border-radius: 6px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  display: inline-block;
  letter-spacing: 0.05em;
  background: #3DB680;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  border: none;
  box-shadow: 0 7px #006638;
}



.contact-content-box{
    padding-top: 30px;
}

.contact-content-box .content-item{
    text-align: center;
}

.contact-content-box .content-item img{
    width: 60%;
}

.contact-content-box .content-text{
    padding-top: 30px;
    text-align: center;
    line-height: 2;
}

@media screen and (max-width: 1000px){
  .ggmap {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}

.ggmap iframe,
.ggmap object,
.ggmap embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
}

@media screen and (max-width: 670px) {
  .section {
    padding: 50px 0;
  }
  .Form {
    margin-top: 40px;
  }
  .sp-only{
    display: block;
  }

    .header-main .header-left{
    min-width: 90%;
}

.header-main .logo{
  font-size: 18px;
}

.header-main .logo img{
  width: 36px;
}

    .header-left .logo-word {
    top: 10px;
    padding-left: 15px;
}


  .section-description{
    text-align: left;
    font-size: 14px;
  }

  .menu-item {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 0 ;
    margin-right: 0;
  }

  .menu-wrapper{
    padding: 0 10%;
  }

  .content-left  {
    float: none;
    width: 100%;
    text-align: center;
    padding: 0;
  }

  .content-right  {
    float: none;
    width: 100%;
    font-size: 14px;
    line-height: 2;
    padding: 0;
  }

  .content-right-title {
    font-size: 18px;
    font-weight:bold;
    display: block;
    line-height:1.8;
    padding: 20px 0;
  }

  .content-left img {
    max-width: 75%;
  }


  .Form dl {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
  }
  .Form dl dt {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
  .Form dl dt.isMsg {
    margin-top: 0;
  }
  .Form .form-valid {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
  .form-input {
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    flex: inherit;
    font-size: 15px;
  }
}

@media screen and (max-width: 670px) {
  .Form textarea {
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }
}


@media screen and (max-width: 670px) {
  .submit-btn {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
  }
}

@media(max-width: 1000px){
  .container{
    width: 100%;
  }
}


@media(max-width: 670px){

    .small-container{
        width: 100%;
    }
  header {
  }


  .header-main .header-left{
    padding: 5px 0;
  }
  .header-right{
    display: none;
  }
  .header-description-area{
    display: none;
  }

  .menu-wrapper{
    flex-direction: column;
  }

  .menu-wrapper .menu-item{
    margin-bottom: 50px;
  }

  .fnav-wrapper ul {
    width: 100%;
  }

  .fnav-wrapper ul li{
    width: 50%;
  }

  .fnav-wrapper ul li a{
    display: block;
  }

  .top-title-area h2{
    font-size: 24px;
  }

  .main-image-wrapper{
    padding-top: 150px;
    height: auto;
  }

  .header-main{
    padding-top: 5px;
      padding-bottom: 0;
  }

  .links-wrapper ul{
    flex-direction: column;
  }

  .links-wrapper .links li{
    width: 100%;
    margin: 10px 0;
  }

  .page-title-area{
      width: 100%;
    padding: 100px 0 50px 0;
    height: auto;
    background-position: center center;
      background-size: auto 400px;
  }


    .main-contents .section-title h3{
        margin: 30px 0;
    }

/*-menu-icon gnav--*/
.gnav-wrapper nav {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    padding-top: 50px;
    background:#000;
    font-size: 16px;
    box-sizing: border-box;
}
.gnav-wrapper nav ul {
    display:block;
}

.gnav-wrapper nav ul li {
    display:block;
    padding: 20px 28px
}

.gnav-wrapper nav ul li a {
    text-decoration: none;
    color: #ddd;
    padding: 0;
    text-align: left;
}

.gnav-wrapper .btn-gnav {
    position: fixed;
    top: 17px;
    right: 20px;
    width: 30px;
    height: 24px;
    z-index: 3;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms
}

.gnav-wrapper .btn-gnav span {
    position: absolute;
    width: 30px;
    height: 4px;
    background: #666;
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms
}

.gnav-wrapper .btn-gnav span:nth-child(1) {
    top: 0
}

.gnav-wrapper .btn-gnav span:nth-child(2) {
    top: 10px
}

.gnav-wrapper .btn-gnav span:nth-child(3) {
    top: 20px
}

.gnav-wrapper .btn-gnav.open {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.gnav-wrapper .btn-gnav.open span {
    background: #fff
}

.gnav-wrapper .btn-gnav.open span {
    width: 24px;
}

    .top-title-area img{
        width: 75%;
    }

    .page-title-area h2 {
        font-size: 20px;
    }

    .main-image-wrapper p{
      font-size: 18px;
    }
    
    .bread-crumb{
        display: none;
    }

    .cta-btn-box {
        position: fixed;
        width: 100%;
        height: 50px;
        background-color: #000;
        bottom: 0;
        transition: all .5s;
    }
    .cta-btn-box.fadein {
        display: block;
    }
    .cta-btn {
        display: block;
        text-align: center;
        color: #fff;
        line-height: 50px;
        background-color: #000;
    }

    footer {
        padding-bottom: 50px;
    }
    
    .footer-left .company-title{
        font-size: 14px;
    }

    .footer-left .company-title h3{
        font-size: 16px;
        margin-bottom: 5px;
    }

}
